{{new-question question=question saveQuestion="saveQuestion"}}
<div class="well" id="latestWell">
  <h1 id="latest" class="centered">Questions</h1>
  {{question-tile question=model upvote="upvote" downvote="downvote"}}
</div>
